@charset "utf-8";

/*共通部分*/

html {
    font-size: 100%;
    background-color: rgba(51,51,51,0.7);}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    color: #fff;}

a {text-decoration:none;}

img {max-width:100%}

h2 {
    font-family: "Sen", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    padding-top: 10rem;
    text-shadow: 2px 2px 4px #0f0f0f;
}

p {font-size: 1rem;}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

  



/*ヘッダー*/
header {z-index: 3;
    position:fixed;
    background: #333;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.logo {
    width: 80%;
    }

.nav__list {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 1rem 1rem;
    list-style: none;}

.nav__list li {
    font-family: "Sen", sans-serif;
    margin-left: 2.5rem;}
.nav__list a {color: #fff;}
.nav__list li a:hover {
    color:#A0E080;
    transition: color 0.5s ease;
}
.hamburger {
    display: none;
}
.sub-ja {
    display: none;
}



/*コンテンツ部分*/
#TOP {
    position: relative;
}
#TOP img{
    width: 100%;
    object-fit: cover;
}
#TOP h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: #004e6d;
    text-shadow: 1px 1px 4px #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}
.scroll{
    font-family: "Sen", sans-serif;
    text-align: center;
}
#ABOUTUS{
    margin-top: 8rem;
}
.shadow-bg{
    height: 46rem;
    background-size: contain;
    background-position: 50% 50%;
    background-image: url(images/seto.png);
}
.company-explanation{
    width: 47%;
    margin: 3rem auto;
}
.services-photo{
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
}
.services-photo-p{
    text-align: center;
    background: #333;
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#WORKS{
    margin-top: 6rem;
}
.adj-small{
    text-align: center;
    background: #333;
    font-size: 0.85rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.works-exs{
    margin: 3rem auto;
    text-align: center;
}
.works-exs p{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.works-ex{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.works-ex img{
    width: 40%;
}
#FAQ{
    margin-top: 6rem;
}
.faq-container{
    margin-top: 2rem;
    text-align: center;
    list-style: none;
}
.faq-container li:nth-child(odd){
    background: #333;
}
.faq-container li:nth-child(even){
    background: #444;
}
span{
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: .5rem;
}
#CONTACT{
    margin-top: 6rem;
    text-align: center;
}
#CONTACT p{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
button{
    color: #fff;
    background: #333;
    padding: 1rem 5rem;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4);
}
.tel-desktop-none{
    display: none;
}
#SNS{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#SNS button{display: block;
    margin: 2.5rem auto;
}
.info{
    margin: 4rem auto;
    text-align: center;
}
table{
    width: 80%;
    margin: 0 auto;
}
table th,
table td {
    padding: 0.5rem 2rem;
    text-align: left;
}
table tr:nth-child(odd){
    background: #333;
}
table tr:nth-child(even){
    background: #444;
}
.map{
    width: 89%;
    margin: 2rem auto;
}

/*フッター*/
footer{
    background: #333;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}




/*モバイル版*/
@media (max-width:800px){
    .wrapper {
        max-width: 90vw;
        margin: 0 auto;
        padding: 0 4%;
    }
    /*ハンバーガーメニューここから*/ 
    .header__container {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    color: #fff;
    margin-right: 2%;
    margin-left: auto;
    }
    .nav__list {
        display: block;        
        margin: 1rem 1rem;
    }
    .nav__list li {margin-left: 0;}
    .sub-ja {
        display: inline-block;
        font-size: 0.5rem;
        vertical-align: middle;
        padding-left: 0.5rem;
    }    
  
    /*ハンバーガーボタンのスタイリング*/
  .hamburger {
    display: block;
    width: 50px;
    height: 80px;
    position: relative;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 300;
  }
  .hamburger span,
  .hamburger span::after,
  .hamburger span::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
  }
  .hamburger span::before {
    top: -10px;
  }
  .hamburger span::after {
    bottom: -10px;
  }
  .hamburger.open span {
    background-color: transparent;
  }
  .hamburger.open span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .hamburger.open span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  /*メニューのスタイリング*/
  .nav {
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 80px;
    right: -120%;
    background-color: #333;
    padding: 50px 0;
    transition: all 0.5s;
    border-top: 1px solid #fff;
  }
  .nav__item .nav__link {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px 0 20px 50px;
    text-transform: uppercase;
  }
  .nav.open {
    right: 0;
  }
/*ハンバーガーメニューここまで*/ 

.info{
    display: block;
}
.maps{
    margin-top: 3vh;
    padding-left: 0%;
}
.map{
    height:30vh;
    width:fit-content;
}
.company-explanation{
    width: 100%;
    margin: 3rem auto;
}

.tel-desktop-none{
    display: inline-block;
}
.tel-mobile-none{
    display: none;
}

}/*/@media (max-width:600px)*/
